<h2>register</h2>
<form class="form-horizontal" action="/users" method="post">
 <input type="text" name="user[username]" placeholder="username"/>
 <input type="password" name="user[password]" placeholder="password"/>
 <input class="btn btn-primary" type="submit" value="Sign Up"/>
</form>